apps/remote-app/statemachine.json
{
	"Comment": "Distributed map that reads CSV file for order data and detects delayed orders",
	"StartAt": "Operate Rows",
	"States": {
		"Operate Rows": {
			"Type": "Map",
			"ItemProcessor": {
				"ProcessorConfig": {
					"Mode": "DISTRIBUTED",
					"ExecutionType": "EXPRESS"
				},
				"StartAt": "GetExistingIssues",
				"States": {
					"GetExistingIssues": {
						"Type": "Task",
						"Resource": "arn:aws:states:::lambda:invoke",
						"Parameters": {
							"FunctionName": "${GetExistingIssuesFunction}",
							"Payload.$": "$"
						},
						"OutputPath": "$.Payload",
						"Retry": [
							{
								"ErrorEquals": [
									"Lambda.ServiceException",
									"Lambda.AWSLambdaException",
									"Lambda.SdkClientException",
									"Lambda.TooManyRequestsException"
								],
								"IntervalSeconds": 1,
								"MaxAttempts": 3,
								"BackoffRate": 2
							}
						],
						"Next": "Choice"
					},
					"Choice": {
						"Type": "Choice",
						"Choices": [
							{
								"Variable": "$.Payload.method",
								"StringEquals": "OMIT",
								"Next": "Store Operation Result: Omitted"
							}
						],
						"Default": "ScarletMapping"
					},
					"Store Operation Result: Omitted": {
						"Type": "Task",
						"Resource": "arn:aws:states:::lambda:invoke",
						"Parameters": {
							"FunctionName": "${AddOrderFunction}",
							"Payload": {
								"method": "OMIT",
								"issueKey.$": "$.issueKey"
							}
						},
						"End": true
					},
					"ScarletMapping": {
						"Type": "Task",
						"Resource": "arn:aws:states:::lambda:invoke",
						"Parameters": {
							"FunctionName": "${ScarletMappingFunction}",
							"Payload.$": "$"
						},
						"Next": "Operations Queue"
					},
					"Operations Queue": {
						"Type": "Task",
						"Resource": "arn:aws:states:::sqs:sendMessage",
						"Parameters": {
							"QueueUrl": "${OperationQueue}",
							"MessageBody.$": "$"
						},
						"End": true
					}
				}
			},
			"ItemReader": {
				"Resource": "arn:aws:states:::s3:getObject",
				"Parameters": {
					"Bucket.$": "$.bucketName",
					"Key.$": "$.filePath"
				},
				"ReaderConfig": {
					"InputType": "CSV",
					"CSVHeaderLocation": "FIRST_ROW"
				}
			},
			"MaxConcurrency": 1000,
			"Label": "OperateRows",
			"End": true,
			"ItemBatcher": {
				"MaxItemsPerBatch": 10,
				"BatchInput": {
					"apiBaseUrl.$": "$.apiBaseUrl",
					"forgeToken.$": "$.forgeToken",
					"bucketName.$": "$.bucketName",
					"cloudId.$": "$.cloudId",
					"executionId.$": "$.executionId",
					"projectId.$": "$.projectId",
					"client.$": "$.client"
				}
			},
			"ResultPath": "$.stateInput.method"
		}
	}
}